<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
</ion-header-bar>
  <ion-content>
  <div style="padding: 0px 5px 5px 5px;margin-bottom:10px;">
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search" name="search"/>
  </label>
</div>
</div>
<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>All Item List</p>
</div>

<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col col-28 col-center">
	 <img src="img/fish/sea-fish.png" style="width:100%;">
	</div>
	<div class="col col-72">
	 <h4>Logu<span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-balanced font-rhymbs">&#x20B9; 100</span></h4>
	<p>Quantity: <b>12 KG</b></p>
	<p>Discount: <b>20%</b></p>
	<p>Date: <b>11 Jan 2016</b></p>
	<p>Fish Type: <b>Sea Food</b></p>
	<p>Available Status: <b>Yes</b></p>
	<p class="label-paragraph-color"><span><button class="button button-assertive label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Delete
</button></span>
<span><button class="button button-balanced label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" ng-click="showModal()" type="submit">
  Change
</button></span>
</p>
	</div>
	</div>
	
<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col col-28 col-center">
	 <img src="img/fish/prawn.png" style="width:100%;">
	</div>
	<div class="col col-72">
	 <h4>Prawn<span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-balanced font-rhymbs">&#x20B9; 100</span></h4>
	<p>Quantity: <b>12 KG</b></p>
	<p>Discount: <b>20%</b></p>
	<p>Date: <b>11 Jan 2016</b></p>
	<p>Fish Type: <b>Sea Food</b></p>
	<p>Available Status: <b>Yes</b></p>
	<p class="label-paragraph-color"><span><button class="button button-assertive label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Delete
</button></span>
<span><button class="button button-balanced label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" ng-click="showModal()" type="submit">
  Change
</button></span>
</p>
	</div>
	</div>
  </ion-content>
</ion-view>
