<ion-view cache-view="false" style="background-image: none !important;background-color: #47a8c3;">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-ios-pricetags button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">Order Detail</div>
</ion-header-bar>
  <ion-content class="padding">
<div class="text-center">
  <i class="ion-ios-pricetags" style="font-size: 80px;"></i>
  </div>
  <div class="row" style="background-color: white;margin-bottom:7px;margin-top: 15px;">
	<div class="col">
	 <p class="label-paragraph-color"><span>Order Number</span><span style="float:right;"><b>2568954595</b></span></p>
	 <p class="label-paragraph-color"><span>Order Date</span><span style="float:right;"><b>12 Jan 2016</b></span></p>
	 <p class="label-paragraph-color"><span>Customer Name</span><span style="float:right;"><b>G,Ashokkumar</b></span></p>
	 <p class="label-paragraph-color"><span>Customer Number</span><span style="float:right;"><b>9942570269</b></span></p>
	 <p class="label-paragraph-color"><span><b>Customer Address</b></span></p>
	 <p class="label-paragraph-color"><span>Flat F1, Melody Arcade</span></p>
	 <p class="label-paragraph-color"><span>Vadapalani</span></p>
	 <p class="label-paragraph-color"><span>Chennai</span></p>
	 <p class="label-paragraph-color"><span>Pincode - 600026</span></p>
	 <p class="label-paragraph-color"><span>TamilNadu</span></p>
	<hr/>
	<p class="label-paragraph-color"><span>Item Name</span><span style="float:right;"><b>Logu</b></span></p>
	<p class="label-paragraph-color"><span>Quantity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Masala</span><span style="float:right;"><b>Yes</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	<p class="label-paragraph-color"><span>Delievery Status</span><span style="float:right;"><b>In Progress</b></span></p>
	<p class="label-paragraph-color"><span>Select Assignee</span><span style="float:right;"><span style="float:right"><button class="button button-balanced label-font" ng-click="showModal()" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Assignee
</button></span></p>
	</div>
	
	</div>
	
	<p class="label-font text-center">Assignee<p>
	
<div class="list">
	
  <div class="item">
   <div class="container">
      <p class="label-paragraph-color"><span>Assignee Name</span><span style="float:right;"><b>G.Ashokkumar</b></span></p>
	  <p class="label-paragraph-color"><span>Assignee Number</span><span style="float:right;"><b>9942570269</b></span></p>

</div>
  </div>
</div>

	<p class="label-font text-center">Progress<p>
	
<div class="list">
	
  <div class="item">
   <div class="container">
      <ul class="progressbar">
          <li class="complete" style="width: 20%;"><p style="white-space: initial;font-size: 10px;">Ordered</p></li>
		  <li class="" style="width: 20%;"><p style="white-space: initial;font-size: 10px;">Assigned</p></li>
		   <li style="width: 20%;"><p style="white-space: initial;font-size: 10px;">Cleaning</p></li>
		    <li style="width: 20%;"><p style="white-space: initial;font-size: 10px;">Packed</p></li>
			 <li style="width: 20%;"><p style="white-space: initial;font-size: 10px;">Out for Deleievery</p></li>
  </ul>
</div>
  </div>
</div>
  </ion-content>
</ion-view>
