<ion-view cache-view="false" style="background-image: none !important;background-color: #47a8c3;">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-thumbsup button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">Congratulations</div>
</ion-header-bar>
  <ion-content class="padding">
  
  <div class="list card" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);margin-top:20%;">

  <div class="item item-body text-center pBold" style="border: none;">
   <p><img src="img/tick.png" width="100px"></p>
   <p>Your Reference no is <span style="font-size: 30px;color: green;">2564897526</span></p>
   <p style="text-align:center;">Please Retain this Reference Number when our Service executive call you.</p>
   <p style="text-align:center;"><a href="#home" style="color: cadetblue;">Click here to go Home</a></p>
  </div>
</div>
  </ion-content>
</ion-view>
