<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
  <i class="ion-android-cart button button-clear" style="color: black;font-size: 25px;"></i>
</ion-header-bar>
  <ion-content>
<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Product List</p>
</div>

	
	<div class="row" style="background-color: white;margin-bottom:7px;">
	
	<div class="col">
	<div class="wrapper">
	<span>
	  <img src="img/fish/sea-fish.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Vaaval</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  <span class="badge badge-energized font-rhymbs">-30%</span>
	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-cart-plus"></i></span>
	<span style="float:right;font-size: 20px;padding: 5px;color: blue;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span style="float:right;font-size: 20px;padding: 5px;color: #11c1f3;"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
	  </p>	  
	  
	</div>
	</div>
	</a>
	</div>
	
		
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper">
	<span>
	  <img src="img/fish/river-fish.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Katla</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  <span class="badge badge-energized font-rhymbs">-30%</span>
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-cart-plus"></i></span>
<span style="float:right;font-size: 20px;padding: 5px;color: blue;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span style="float:right;font-size: 20px;padding: 5px;color: #11c1f3;"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
		
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper">
	<span>
	  <img src="img/fish/prawn.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Prawn</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  <span class="badge badge-energized font-rhymbs">-30%</span>
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-cart-plus"></i></span>
<span style="float:right;font-size: 20px;padding: 5px;color: blue;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span style="float:right;font-size: 20px;padding: 5px;color: #11c1f3;"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
		
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper">
	<span>
	  <img src="img/fish/crab.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Crab</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  <span class="badge badge-energized font-rhymbs">-30%</span>
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-cart-plus"></i></span>
<span style="float:right;font-size: 20px;padding: 5px;color: blue;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span style="float:right;font-size: 20px;padding: 5px;color: #11c1f3;"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
  </ion-content>
  <ion-footer-bar class="footer-button-style">
<p class="text-center label-font" style="width:100%;margin-top: 8px;"><span>Ready to Delight!..</span></p>
</ion-footer-bar>
</ion-view>
