<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
</ion-header-bar>
  <ion-content>
<div class="wrapper" style="background-color:white;height: 230px;">
  <img src="img/fish/sea-fish.png" style="width: 100%;">
  <p class="detail">
  <span class="label-font" style="color:black;"><b>Vaaval</b></span>
  <span style="float:right;font-size: 25px;padding: 5px;"><i class="fa fa-cart-plus"></i></span>
  <span style="float:right;font-size: 25px;padding: 5px;"><i class="fa fa-google-plus"></i></span>
    <span style="float:right;font-size: 25px;padding: 5px;"><i class="fa fa-share-alt"></i></span>
	<span style="float:right;font-size: 25px;padding: 5px;"><i class="fa fa-facebook-square "></i></span>

  </p>
</div>
  <div class="list">
 
    <div class="item">
      <div>
	 
      <p style="font-family:RythmusRegular;white-space: normal;font-size:17px;text-align: justify;text-justify: inter-word">A fish is any member of a paraphyletic group of organisms that consist of all gill-bearing aquatic craniate animals that lack limbs with digits. Included in this definition are the living hagfish, lampreys, and cartilaginous and bony fish, as well as various extinct related groups. Most fish are ectothermic ("cold-blooded"), allowing their body temperatures to vary as ambient temperatures change, though some of the large active swimmers like white shark and tuna can hold a higher core temperature.[1][2] Fish are abundant in most bodies of water. </p>
	  
    </div>
</div>

<div class="item text-align label-font">
		<p><span><rating ng-model="data.rating" max="data.max" ></rating></span>&nbsp;2 ratings</p>
		<p> <span><b>MRP:</b> &#x20B9; 100</span></p>
		<p> <span>30%<b> Discount</b></span></p>
	</div>
	<div class="item text-align label-font">
		<p class="label-font">Additional Ingredients</p><br>	
		<p>
		<ion-list>
			<ion-checkbox style="border-width:0px;" ng-model="filter.masala">Masala</ion-checkbox>
		</ion-list>
		</p>
		
	</div>
	<div class="item text-align label-font">
		<p class="label-font">Select Quantity</p><br>	
		<p>
		<span>
<button style="border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;" class="icon ion-plus"></button>
<span class="text-align" style="border: 2px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">1</span>
<button style="border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;" class="icon ion-minus"></button>
&nbsp;in KG
</span>
		</p>
		
	</div>
	<div class="item label-font">
		<p class="label-font text-align">Availability Check</p><br>	
		<p>
		<i class="fa fa-check" aria-hidden="true" style="color:green;"></i> Delievery Available
		</p>
		<p>
		<i class="fa fa-check" aria-hidden="true" style="color:green;"></i> Delievery Charges &#x20B9; 25
		</p>
		<p>
		<i class="fa fa-times-circle" aria-hidden="true" style="color:red;"></i> Fry
		</p>
		<p>
		<i class="fa fa-check" aria-hidden="true" style="color:green;"></i> Gravy
		</p>
		<p>
		<i class="fa fa-check" aria-hidden="true" style="color:green;"></i> Health Effects - Good for Cholestrol
		</p>
		
	</div>
	
	<div class="item">
		<p class="label-font text-align">Additional Info</p><br>	
		<p style="font-family:RythmusRegular;white-space: normal;font-size:17px;text-align: justify;text-justify: inter-word">
		We will deliever the product only on morining because we only have pre booking facility because it's a odour things so we will make the product ready
		as pre booking.
		</p>
		
	</div>
	
</div>

  </ion-content>
  <ion-footer-bar class="footer-button-style">
<p class="text-center label-font" style="width:100%;margin-top: 8px;"><span>Select the Quantity</span></p>
</ion-footer-bar>
</ion-view>
