<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
</ion-header-bar>
  <ion-content>
<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Product Summary</p>
</div>
<div class="list" style="margin-bottom: 1px;">
	<div class="row" style="background-color: white;">
	<div class="col">
	 <div class="wrapper">
	<span>
	
	  <img src="img/fish/sea-fish.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Vaaval</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-trash"></i></span>

	  </p>	  
	  
	</div>
	</div>
	
 
    
	</div>
	<div class="item">
	<p class="label-paragraph-color"><span>Quantity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Discount</span><span style="float:right;">-30%<b style="text-decoration: line-through;"> &#x20B9;100</b></span></p>
	<p class="label-paragraph-color"><span>Masala</span><span style="float:right;"><b>&#x20B9; 5</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 500</b></span></p>
	</div>
	
	</div>
	
	<div class="list" style="margin-bottom: 1px;">
	<div class="row" style="background-color: white;">
	<div class="col">
	 <div class="wrapper">
	<span>
	  <img src="img/fish/river-fish.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Katla</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-trash"></i></span>

	  </p>	  
	  
	</div>
	</div>
	
 
    
	</div>
	<div class="item">
	<p class="label-paragraph-color"><span>Quantity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Discount</span><span style="float:right;">-30%<b style="text-decoration: line-through;"> &#x20B9;100</b></span></p>
	<p class="label-paragraph-color"><span>Masala</span><span style="float:right;"><b>&#x20B9; 5</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 500</b></span></p>
	</div>
	
	</div>
	
	<div class="list" style="margin-bottom: 1px;">
	<div class="row" style="background-color: white;">
	<div class="col">
	 <div class="wrapper">
	<span>
	  <img src="img/fish/prawn.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Prawn</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-trash"></i></span>

	  </p>	  
	  
	</div>
	</div>
	
 
    
	</div>
	<div class="item">
	<p class="label-paragraph-color"><span>Quantity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Discount</span><span style="float:right;">-30%<b style="text-decoration: line-through;"> &#x20B9;100</b></span></p>
	<p class="label-paragraph-color"><span>Masala</span><span style="float:right;"><b>&#x20B9; 5</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 500</b></span></p>
	</div>
	
	</div>
	
	
	<div class="list" style="margin-bottom: 1px;">
	<div class="row" style="background-color: white;">
	<div class="col">
	 <div class="wrapper">
	<span>
	  <img src="img/fish/crab.png" style="width: 100%;">
	  </span>
	  <p>

	  <span class="label-font" style="color:black;font-size: 15px !important;"><b>Crab</b></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food</span><br>
	  
	  	    <span style="float:right;font-size: 20px;padding: 5px;"><i class="fa fa-trash"></i></span>

	  </p>	  
	  
	</div>
	</div>
	
 
    
	</div>
	<div class="item">
	<p class="label-paragraph-color"><span>Quantity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Discount</span><span style="float:right;">-30%<b style="text-decoration: line-through;"> &#x20B9;100</b></span></p>
	<p class="label-paragraph-color"><span>Masala</span><span style="float:right;"><b>&#x20B9; 5</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 500</b></span></p>
	</div>
	
	</div>

<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Payment Summary</p>
</div>

<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	 <p class="label-paragraph-color"><span>Total Charges</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	 <p class="label-paragraph-color"><span>Shipping Charges</span><span style="float:right;"><b>Free</b></span></p>
	<hr/>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	</div>
	
	</div>
	
	<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Deleivery Address</p>
</div>

<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	 <p class="label-paragraph-color"><span><b>G.Ashokkumar</b></span></p>
	 <p class="label-paragraph-color"><span>Flat F1, Melody Arcade</span></p>
	 <p class="label-paragraph-color"><span>Vadapalani</span></p>
	 <p class="label-paragraph-color"><span>Chennai</span></p>
	 <p class="label-paragraph-color"><span>Pincode - 600026</span></p>
	 <p class="label-paragraph-color"><span>TamilNadu</span></p>
	 <p class="label-paragraph-color"><span>Mobile - <b>9942570269</b></span></p>
	</div>
	
	</div>
  </ion-content>
  <ion-footer-bar class="footer-button-style">
<p class="text-center label-font" style="width:100%;margin-top: 8px;" ng-click="showModal()"><span>Select Where to Deleiver!..</span></p>
</ion-footer-bar>
</ion-view>
