<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
  <i class="ion-android-cart button button-clear" style="color: black;font-size: 25px;"></i>
</ion-header-bar>
  <ion-content>
<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Product List</p>
</div>
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper" style="background-color:white;height: 150px;">
	  <img src="img/fish/sea-fish.png" style="width: 100%;">
	  <p style="background: rgba(0,0,0,0.1);box-shadow: 0px 0px 35px 0px;height: 100%;">
	  <span class="label-font" style="color:black;"><b>Vaaval</b><span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food<span style="float: right;"><input type="checkbox"/>&nbsp;Masala</span></span><br>
	  <span><rating ng-model="data.rating" max="data.max"></rating></span><br>
<span>
<button style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;" class="icon ion-plus"></button>
<span style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</span>
<button style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;" class="icon ion-minus"></button>
&nbsp;in KG
</span>
<span style="float:right"><button class="button button-positive button-style" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Add to Cart
</button></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper" style="background-color:white;height: 150px;">
	  <img src="img/fish/river-fish.png" style="width: 100%;">
	  <p style="background: rgba(0,0,0,0.1);box-shadow: 0px 0px 35px 0px;height: 100%;">
	  <span class="label-font" style="color:black;"><b>Katla</b><span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food<span style="float: right;"><input type="checkbox"/>&nbsp;Masala</span></span><br>
	  <span><rating ng-model="data.rating" max="data.max"></rating></span><br>
<span>
<button style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;" class="icon ion-plus"></button>
<span style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</span>
<button style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;" class="icon ion-minus"></button>
&nbsp;in KG
</span>
<span style="float:right"><button class="button button-positive button-style" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Add to Cart
</button></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper" style="background-color:white;height: 150px;">
	  <img src="img/fish/prawn.png" style="width: 100%;">
	  <p style="background: rgba(0,0,0,0.1);box-shadow: 0px 0px 35px 0px;height: 100%;">
	  <span class="label-font" style="color:black;"><b>Prawn</b><span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food<span style="float: right;"><input type="checkbox"/>&nbsp;Masala</span></span><br>
	  <span><rating ng-model="data.rating" max="data.max"></rating></span><br>
<span>
<button style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;" class="icon ion-plus"></button>
<span style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</span>
<button style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;" class="icon ion-minus"></button>
&nbsp;in KG
</span>
<span style="float:right"><button class="button button-positive button-style" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Add to Cart
</button></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	<div class="wrapper" style="background-color:white;height: 150px;">
	  <img src="img/fish/crab.png" style="width: 100%;">
	  <p style="background: rgba(0,0,0,0.1);box-shadow: 0px 0px 35px 0px;height: 100%;">
	  <span class="label-font" style="color:black;"><b>Crab</b><span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></span><br>
	  <span class="badge badge-balanced font-rhymbs">&#x20B9; 100</span><br>
	  <span>Sea Food<span style="float: right;"><input type="checkbox"/>&nbsp;Masala</span></span><br>
	  <span><rating ng-model="data.rating" max="data.max"></rating></span><br>
<span>
<button style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;" class="icon ion-plus"></button>
<span style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</span>
<button style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;" class="icon ion-minus"></button>
&nbsp;in KG
</span>
<span style="float:right"><button class="button button-positive button-style" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Add to Cart
</button></span>
	  </p>	  
	  
	</div>
	</div>
	</div>
	
  </ion-content>
  <ion-footer-bar class="footer-button-style">
<p class="text-center label-font" style="width:100%;margin-top: 8px;"><span>Ready to Delight!..</span></p>
</ion-footer-bar>
</ion-view>
