<ion-view class="bg-color">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-arrow-left-c button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">meefizza</div>
</ion-header-bar>
  <ion-content>
<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Product Summary</p>
</div>
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col col-28 col-center">
	 <img src="img/fish/sea-fish.png" style="width:100%;">
	</div>
	<div class="col col-72">
	 <h4>Logu<span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></h4>
      <p><rating ng-model="data.rating" max="data.max"></rating></p>
	  <p>
	  <button
				style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-plus"></button>
			<div
				style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</div>
			<button
				style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-minus"></button>
			&nbsp;in KG
	  </p>
	  <p>&#x20B9; 100</p>
<p><input	type="checkbox" /> Masala <span style="float:right"><button class="button button-assertive label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Delete
</button></span></p>
	</div>
	</div>
	
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col col-28 col-center">
	 <img src="img/fish/river-fish.png" style="width:100%;">
	</div>
	<div class="col col-72">
	 <h4>Katla<span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></h4>
      <p><rating ng-model="data.rating" max="data.max"></rating></p>
	  <p>
	  <button
				style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-plus"></button>
			<div
				style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</div>
			<button
				style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-minus"></button>
			&nbsp;in KG
	  </p>
	 <p>&#x20B9; 100</p>
<p><input	type="checkbox" /> Masala <span style="float:right"><button class="button button-assertive label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Delete
</button></span></p>
	</div>
	</div>
	
	<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col col-30 col-center">
	 <img src="img/fish/prawn.png" style="width:100%;">
	</div>
	<div class="col col-70">
	 <h4>Prawns<span style="font-size: 12px; top: 10px; right: 10px;float: right;" class="badge badge-energized font-rhymbs">-30%</span></h4>
      <p><rating ng-model="data.rating" max="data.max"></rating></p>
	  <p>
	  <button
				style="float: left; border: none; border-radius: 5px 0px 0px 5px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-plus"></button>
			<div
				style="float: left; border: 1px solid; width: 30px; height: 25px; padding: 2px 0px 0px 10px;">0</div>
			<button
				style="float: left; border: none; border-radius: 0px 5px 5px 0px; height: 25px; background: #0b305a; color: white;"
				class="icon ion-minus"></button>
			&nbsp;in KG
	  </p>
	  <p>&#x20B9; 100</p>
<p><input	type="checkbox" /> Masala <span style="float:right"><button class="button button-assertive label-font" style="font-size: 15px !important;border-radius: 5px;min-height: 25px;padding: 0 10px;line-height: 15px;" type="submit">
  Delete
</button></span></p>
	</div>
	</div>

<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Payment Summary</p>
</div>

<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	 <p class="label-paragraph-color"><span>Total Charges</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	 <p class="label-paragraph-color"><span>Shipping Charges</span><span style="float:right;"><b>Free</b></span></p>
	<hr/>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	</div>
	
	</div>
	
	<div class="content text-align label-font" style="margin-top:5px;"> 
      <p>Deleivery Address</p>
</div>

<div class="row" style="background-color: white;margin-bottom:7px;">
	<div class="col">
	 <p class="label-paragraph-color"><span><b>G.Ashokkumar</b></span></p>
	 <p class="label-paragraph-color"><span>Flat F1, Melody Arcade</span></p>
	 <p class="label-paragraph-color"><span>Vadapalani</span></p>
	 <p class="label-paragraph-color"><span>Chennai</span></p>
	 <p class="label-paragraph-color"><span>Pincode - 600026</span></p>
	 <p class="label-paragraph-color"><span>TamilNadu</span></p>
	 <p class="label-paragraph-color"><span>Mobile - <b>9942570269</b></span></p>
	</div>
	
	</div>
  </ion-content>
  <ion-footer-bar class="footer-button-style">
<p class="text-center label-font" style="width:100%;margin-top: 8px;" ng-click="showModal()"><span>Select Where to Deleiver!..</span></p>
</ion-footer-bar>
</ion-view>
