<ion-view class="bg-color">
  <ion-content class="padding">
  <form novalidate="" name="registrationForm" ng-submit="registration(registrationForm)">
  <div style="margin-top:30%;">
  <img src="img/logo4.png" class="logo-center">
  <p class="logo-font"><i class="ion-spoon"></i> meefizza</p>
  </div>
  <div class="list login-form">
  <label class="item item-input input-border input-background">
    <i class="icon ion-person"></i>&nbsp;&nbsp;
    <input type="text" placeholder="Your Name" class="input-color" name="name" ng-model="input.name" required>
  </label>
  <div class="error-container" ng-show="registrationForm.name.$error && registrationForm.$submitted" ng-messages="registrationForm.name.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
   <label class="item item-input input-border input-background">
    <i class="icon ion-iphone"></i>&nbsp;&nbsp;
    <input type="text" placeholder="Mobile Number" class="input-color" name="mobile" ng-model="input.mobile" required>
  </label>
  <div class="error-container" ng-show="registrationForm.mobile.$error && registrationForm.$submitted" ng-messages="registrationForm.mobile.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
  <label class="item item-input input-border input-background">
    <i class="icon ion-email"></i>&nbsp;&nbsp;
    <input type="email" placeholder="Email" class="input-color" name="email" ng-model="input.email" required>
  </label>
  <div class="error-container" ng-show="registrationForm.email.$error && registrationForm.$submitted" ng-messages="registrationForm.email.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
   <label class="item item-input input-border input-background">
    <i class="icon ion-ios-locked"></i>&nbsp;&nbsp; 
    <input type="password" placeholder="Password" class="input-color" name="password" ng-model="input.password" required>
  </label>
  <div class="error-container last-error-container" ng-show="registrationForm.password.$error && registrationForm.$submitted" ng-messages="registrationForm.password.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
  <label class="item item-input input-border input-background">
    <i class="icon ion-ios-locked"></i>&nbsp;&nbsp; 
    <input type="password" placeholder="Confirm Password" class="input-color" name="cpass" ng-model="input.cpass" required>
  </label>
  <div class="error-container last-error-container" ng-show="registrationForm.cpass.$error && registrationForm.$submitted" ng-messages="registrationForm.cpass.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>  
</div>
<div class="list login-form">
 <label class="item item-input item-floating-label bg-border-none">
    <button class="button button-block button-positive button-style" type="submit">
  Delight Me Inside !
</button>
  </label>
  </div>
  </form>
  </ion-content>
</ion-view>
