<ion-view cache-view="false" style="background-image: none !important;background-color: #47a8c3;">
<ion-header-bar style="background-image: none !important;background-color: #47a8c3;">
  <i class="ion-android-bicycle button button-clear" style="color: black;font-size: 25px;"></i>
  <div class="title logo-font" style="left: 25px;right: 40px;font-size: 25px;">Track My Order</div>
</ion-header-bar>
  <ion-content class="padding">
<div class="text-center">
  <i class="ion-android-bicycle" style="font-size: 80px;"></i>
  </div>
  <div class="row" style="background-color: white;margin-bottom:7px;margin-top: 15px;">
	<div class="col">
	 <p class="label-paragraph-color"><span>Order Number</span><span style="float:right;"><b>2568954595</b></span></p>
	 <p class="label-paragraph-color"><span>Order Date</span><span style="float:right;"><b>12 Jan 2016</b></span></p>
	<hr/>
	<p class="label-paragraph-color"><span>Item Name</span><span style="float:right;"><b>Logu</b></span></p>
	<p class="label-paragraph-color"><span>Qunatity</span><span style="float:right;"><b>12 KG</b></span></p>
	<p class="label-paragraph-color"><span>Total Amount</span><span style="float:right;"><b>&#x20B9; 100</b></span></p>
	<p class="label-paragraph-color"><span>Delievery Status</span><span style="float:right;"><b>In Progress</b></span></p>

	</div>
	
	</div>
	<p class="label-font text-center">Progress<p>
	
<div class="list">
	
  <div class="item">
   <div class="container">
      <ul class="progressbar">
          <li class="complete"><p style="white-space: initial;font-size: 10px;">Ordered</p></li>
		   <li><p style="white-space: initial;font-size: 10px;">Cleaning</p></li>
		    <li><p style="white-space: initial;font-size: 10px;">Packed</p></li>
			 <li><p style="white-space: initial;font-size: 10px;">Out for Deleievery</p></li>
  </ul>
</div>
  </div>
</div>
  </ion-content>
</ion-view>
